body {
  background-color: #360640;
}

button {
  background-color: #893999;
  color: white;
  border-radius: 10px;
  height: 50px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
}

.title {
  font-size: 2rem;
  color: black;
  background-color: white;
  width: 100vw;
  margin-top: 0px;
  margin-bottom: 30px;
}

.main-page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: white;
  height: 75vh;
  width: 50vw;
  border: solid #48E0C2 30px;
}

.welcome {
  font-size: 50px;
}